body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Cabin Sketch', cursive; */
  color: #333;
}
img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  /* color: $mainOrange; */
  color: $mainYellow;
}
h1 {
  text-align: center;
}
