<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
{% load bootstrap4 %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Vehicle Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="#" />
    <link  href="{% static 'temp/styles.css' %}" rel="stylesheet" type="text/css" media="all"/>
  </head>
  <body>
    <div class="primary-nav">
      <div class="primary-nav__brand-name"><a href="{% url 'home' %}"> Premium Repair Services </a></div>
      <div class="primary-nav__menu-content">
        {% if user.is_authenticated %}
        <div class="primary-nav__dropdown">
          <button class="primary-nav__dropdown__btn" href="#" id="cars" > Cars
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="primary-nav__dropdown-content">
            {% if perms.cars.add_car %}
            <div class="primary-nav__dropdown-content__submenu"><a href="{% url 'cars:new_car' %}"> New Car </a></div>
            {% endif %}
            {% if perms.cars.add_driver %}
            <div class="primary-nav__dropdown-content__submenu"><a href="{% url 'cars:new_driver' %}">New Driver</a></div>
            {% endif %}
            <div class="primary-nav__dropdown-content__submenu"><a href="{% url 'cars:car_list' %}">Car List</a></div>
          </div>
        </div>
        <div class="primary-nav__dropdown">
          <button class="primary-nav__dropdown__btn" href="#" id="driving_history" > Driving History
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="primary-nav__dropdown-content">
            {% if perms.cars.add_drivingrecord %}
            <div class="primary-nav__dropdown-content__submenu"><a href="{% url 'cars:new_driving_record' %}">New Record</a></div>
            {% endif %}
            <div class="primary-nav__dropdown-content__submenu"><a href="{% url 'cars:drivingrecord_list' %}">Driving History</a></div>
          </div>
        </div>
        <div class="primary-nav__dropdown">
          <button class="primary-nav__dropdown__btn" href="#" id="service_history" > Services History
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="primary-nav__dropdown-content">
            {% if perms.services.add_servicerecord %}
            <div class="primary-nav__dropdown-content__submenu"><a href="{% url 'services:new_service' %}">New Service</a></div>
            {% endif %}
            {% if perms.services.add_tyrerecord %}
            <div class="primary-nav__dropdown-content__submenu"><a href="{% url 'services:new_tyre_service' %}">New Tyre Service</a></div>
            {% endif %}
            <div class="primary-nav__dropdown-content__submenu"><a href="{% url 'services:service_list' %}">Service List</a></div>
            <div class="primary-nav__dropdown-content__submenu"><a href="{% url 'services:tyre_service_list' %}">Tyre Service List</a></div>
          </div>
        </div>
        {% endif %}
        <div class="primary-nav__dropdown">
          {% if user.is_authenticated %}
          <button class="primary-nav__dropdown__btn"><a href="{% url 'accounts:logout' %}"> Logout </a></button>
          {% else %}
          <button class="primary-nav__dropdown__btn"><a href="{% url 'accounts:login' %}"> Login </a></button>
          {% endif %}
        </div>
      </div>

      <div class="primary-nav__menu-icon">
        <div class="primary-nav__menu-icon__middle"></div>
      </div>
    </div>

    <div class="page-section">
      {% block content %}
      {% endblock %}
    </div>
  </body>
  <script src="{% static 'temp/master.js' %}" type="text/javascript" ></script>
</html>
