body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Special Elite', cursive; */
  /* font-family: 'IM Fell English SC', serif; */
  font-weight: bolder;
}

h1 {
  /* font-family: 'IM Fell English SC', serif; */
  font-family: 'Cabin Sketch', cursive;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

.table-fit {
  /* position: absolute; */
  white-space: nowrap;
  font-size: 1.1rem;
  width: 10px;
  margin-left: auto;
  margin-right: auto;
  border-left: 4.0rem;
  border-right: 4.0rem;

}
