{% extends "base.html" %}

{% block content %}

<div class="container">
  {% if request.user.is_authenticated %}
    <br><br>
    <div class="form-group ">
      <form class="form-inline justify-content-center">
          <input class="form-control rounded col s12 16" type="search" name="search" placeholder="Query Text"> </input>
          <button type="submit" class="btn btn--orange">Search</button>
      </form>
    </div>
    <br>
    {% if service_list %}
      <table class="table">
        <caption class="table__caption"> The List of Car/Van Service History </caption>
        <thead class="table__thead">
          <tr class="table__tr">
            <th class="table_th" scope="col"><a href="?order_by=car__rego">Car</a></th>
            <th class="table_th" scope="col"><a href="?order_by=last_service_at">Serviced Date</a></th>
            <th class="table_th" scope="col"><a href="?order_by=last_odometer_reading">Odometer</a></th>
            <th class="table_th" scope="col"><a href="?order_by=last_service_provider">Service Provider</a></th>
            <th class="table_th" scope="col"><a href="?order_by=file_upload_date">Upload Date</a></th>
          </tr>
       </thead>
          {% for service in service_list %}
              <tr class="table__tr">
                  <td class="table__td" data-label="Car">{{ service.car }}</td>
                  <td class="table__td" data-label="Serviced Date"><a href="{{ service.service_report.url }}">{{ service.last_service_at|date:'Y-m-d' }}</a></td>
                  <td class="table__td" data-label="Odometer">{{ service.last_odometer_reading }}</td>
                  <td class="table__td" data-label="Service Provider">{{ service.last_service_provider }}</td>
                  <td class="table__td" data-label="Update Date">{{ service.file_upload_date|date:'Y-m-d' }}</td>
              </tr>
          {% endfor %}
      </table>
      {# .... **Now the pagination section** .... #}
      {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
      {% endif %}
    {% else %}
      <h3>No car service records found!!! :(</h3>
    {% endif %}
  {% else %}
    <h2> Please Login First !</h2>
  {% endif %}
</div>

{% endblock %}
