{% extends "base.html" %}

{% block content %}
<div class="container">
  {% if request.user.is_authenticated %}
    <br><br>
    <div class="form-group ">
      <form class="form-inline justify-content-center">
          <input class="form-control rounded col s12 16" type="search" name="search" placeholder="Query Text"> </input>
          <button type="submit" class="btn btn--orange">Search</button>
      </form>
    </div>
    <br>
    {% if tyre_service_list %}
      <table class="table">
        <br>
        <caption class="table__caption"> The List of Tyre Service History  </caption>
        <br>
        <thead class="table__thead">
          <tr class="table__tr">
            <th class="table__th" scope="col"><a href="?order_by=car__rego">Car</a></th>
            <th class="table__th" scope="col"><a href="?order_by=service_type">Type</a></th>
            <th class="table__th" scope="col"><a href="?order_by=tyre_position">Position</a></th>
            <th class="table__th" scope="col"><a href="?order_by=number">Quantity</a></th>
            <th class="table__th" scope="col"><a href="?order_by=last_service_at">Service Date</a></th>
          </tr>
        </thead>
          {% for service in tyre_service_list %}
              <tr class="table__tr">
                  <td class="table__td" data-label="Car">{{ service.car }}</td>
                  <td class="table__td" data-label="Type">{{ service.service_type }}</td>
                  <td class="table__td" data-label="Position">{{ service.get_tyre_position_display }}</td>
                  <td class="table__td" data-label="Quantity">{{ service.number }}</td>
                  <td class="table__td" data-label="Service Date"><a href="{{ service.service_report.url }}">{{ service.last_service_at|date:'Y-m-d' }}</a></td>
              </tr>
          {% endfor %}
      </table>
      {# .... **Now the pagination section** .... #}
      {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
      {% endif %}
    {% else %}
      <h3>No car tyre service records found!!! :(</h3>
    {% endif %}
  {% else %}
    <h2> Please Login First !</h2>
  {% endif %}

</div>

{% endblock %}
