{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<table class="table">
  <caption class="table__caption"> The Vehicle Infomation Details</caption>
  <thead class="table__thead">
    <tr class="table__tr">
      <th class="table__th" scope="col">Rego</th>
      <th class="table__th" scope="col">Year</th>
      <th class="table__th" scope="col">Type</th>
      <th class="table__th" scope="col">Make</th>
      <th class="table__th table__th--large-table" scope="col">Color</th>
      <th class="table__th table__th--large-table" scope="col">Engine Number</th>
      <th class="table__th" scope="col">Trans</th>
      <th class="table__th table__th--large-table" scope="col">VIN</th>
      <th class="table__th table__th--large-table" scope="col">Options</th>
      <th class="table__th table__th--large-table" scope="col">Maintenance</th>
      <th class="table__th" scope="col">Lease Start Date</th>
      <th class="table__th" scope="col">Lease Term</th>
      <th class="table__th" scope="col">Rental</th>
      <th class="table__th" scope="col">Dist</th>
      <th class="table__th" scope="col">Start Odometer</th>
      <th class="table__th table__th--large-table" scope="col">Excess Charge</th>
      <th class="table__th table__th--large-table" scope="col">Default Interest</th>
      <th class="table__th table__th--large-table" scope="col">Status</th>
      <th class="table__th table__th--large-table" scope="col">Lessor</th>
      <th class="table__th" scope="col">Rego Expiry Date</th>
      <th class="table__th" scope="col">Insurer</th>
      <th class="table__th" scope="col">Policy Number</th>
      <th class="table__th" scope="col">Insurance Expiry Date</th>
      <th class="table__th table__th--large-table" scope="col">Fuel Efficiency</th>
    </tr>
 </thead>
 <tbody class="table__tbody">
   <tr class="table__tr">
       <td class="table__td" data-label="Rego">{{ car.rego }}</td>
       <td class="table__td" data-label="Year">{{ car.year }}</td>
       <td class="table__td" data-label="Type">{{ car.type }}</td>
       <td class="table__td" data-label="Make">{{ car.make }}</td>
       <td class="table__td table__td--large-table" data-label="Color">{{ car.color }}</td>
       <td class="table__td table__td--large-table" data-label="Engine Number">{{ car.engine_no }}</td>
       <td class="table__td" data-label="Transmission">{{ car.transmission }}</td>
       <td class="table__td table__td--large-table" data-label="VIN">{{ car.vin }}</td>
       <td class="table__td table__td--large-table" data-label="Options">{{ car.options }}</td>
       <td class="table__td table__td--large-table" data-label="Maintenance Status">{{ car.maintenance_status }}</td>
       <td class="table__td" data-label="Lease Start Date">{{ car.lease_start_date }}</td>
       <td class="table__td" data-label="Lease Term">{{ car.lease_term }}</td>
       <td class="table__td" data-label="Rental">{{ car.rental }}</td>
       <td class="table__td" data-label="Distance Restriction">{{ car.distance_restrict }}</td>
       <td class="table__td" data-label="Start Odometer">{{ car.start_odometer }}km</td>
       <td class="table__td table__td--large-table" data-label="Excess Charge">${{ car.excess_kmcharge }}/km</td>
       <td class="table__td table__td--large-table" data-label="Default Interest">{{ car.default_interest }}</td>
       <td class="table__td table__td--large-table" data-label="Status">{{ car.get_status_display }}</td>
       <td class="table__td table__td--large-table" data-label="Lessor">{{ car.lessor }}</td>
       <td class="table__td" data-label="Rego Expiry Date">{{ car.rego_exp|date:'Y-m-d' }}</td>
       <td class="table__td" data-label="Insurer">{{ car.insurer }}</td>
       <td class="table__td" data-label="Policy Number">{{ car.policy_num }}</td>
       <td class="table__td" data-label="Insurance Expiry Date">{{ car.insurance_exp|date:'Y-m-d' }}</td>
       <td class="table__td table__td--large-table" data-label="Fuel Efficiency">{{ car.fuel_efficiency }}</td>
   </tr>
 </tbody>
</table>
{% endblock %}
