{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<table class="table">
  <br>
  <caption class="table__caption"> The Driver Infomation Details</caption>
  <thead class="table__thead">
    <tr class="table__tr">
      <th class="table__th" scope="col">Name</th>
      <th class="table__th" scope="col">Mobile</th>
      <th class="table__th" scope="col">Email</th>
      <th class="table__th" scope="col">Department</th>
    </tr>
 </thead>
 <tbody class="table__tbody">
   <tr class="table__tr">
       <td class="table__td" data-label="Name">{{ driver.name }}</td>
       <td class="table__td" data-label="Mobile">{{ driver.name }}</td>
       <td class="table__td" data-label="Email">{{ driver.email }}</td>
       <td class="table__td" data-label="Department">{{ driver.get_dept_display }}</td>
   </tr>
 </tbody>
</table>
{% endblock %}
