.primary-nav {
  position: relative;
  margin: 1rem 1rem 8rem 1rem;;
  background-color: $backgroundGreyBlue;


  &__brand-name {
    position: relative;
    background-color: $backgroundGreyBlue;
    padding: 1rem 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: #f2f2f2;
    text-decoration: none;

    @mixin atMedium {
      top: 50%;
      left: 10%;
      transform: translate(-30%, 0);
      display: inline-block;
    }
  }

  &__menu-content {
    opacity: 0;
    z-index: -10;
    position: relative;
    top: 0rem;
    left: 5%;
    transform: scale(1.2);
    transition: all 0.3s ease-out;

    @mixin atMedium {
      position: absolute;
      top: 0.5rem;
      left: auto;
      right: 1rem;
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }

  &__dropdown {
    opacity: 0;
    display: none;
    position: relative;
    color: #f2f2f2;
    padding: 0rem 1rem;
    transform: scale(1);

    @mixin atMedium {
      position: relative;
      opacity: 1;
      display: inline-block;
      padding: 0rem 1rem;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      display: block;
      padding: 0.2rem 1rem;
      @mixin atMedium {
        display: inline-block;
      }
    }

    &__btn {
      background-color: $mainBlue;
      color: #FFF;
      text-align: center;
      text-decoration: none;
      margin: 0.6rem 0.3rem 1rem 0.2rem;
      border: none;
    }
  }

  &__dropdown-content {
    position: absolute;
    display: none;
    opacity: 1;
    top: -0.5rem;
    left: 40%;
    line-height: 2rem;
    background-color: #2e3546;
    /* background-color: #224394; */
    /* background-color: #2d3b63; */
    min-width: 9rem;
    max-width: 70%;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.7);

    &__submenu {
      position: relative;
      color: white;
      left: 0.5rem;
    }

    &--is-visible {
      display: block;
      opacity: 1;
      top: 0rem;
      left: 40%;

      @mixin atMedium {
        top: 3rem;
        left: 15%;
        text-align: left;
        height: 8rem;
      }
    }
  }

  &__menu-icon {
    position: absolute;
    width: 20px;
    height: 19px;
    z-index: 10;
    top: 5px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 0;
      transition: transform 0.3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 20px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transition: all 0.3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 28px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 100%;
      transition: transform 0.3s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }
    .primary-nav__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }
    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

}
